<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderSQL">
	<select id="getOrderMenu" parameterType="java.util.Map" resultType="java.util.Map">
		select * from orderInform join store using(storeNum) where id=#{id} and storeNum=#{storeNum} and orderCode=1
	</select>
</mapper>