<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminSQL"><!-- 다른 mapper.xml파일에서 중복된 id를 구별하기위해 넣는 구분자-->
	
	<insert id="menuWrite" parameterType="menu">
		insert into menu (seqMenu, menuName, menuContent, menuPrice, categoryNum) values (seq_menu.NEXTVAL, #{menuName}, #{menuContent}, #{menuPrice}, #{categoryNum})
	</insert>
	
	<select id="menuLoad" parameterType="String" resultType="menu">
		select * from menu where categoryNum=#{categoryNum}
	</select>
	
	<delete id="menuEarase" parameterType="Integer">
		delete menu where seqMenu=#{seqMenu}
	</delete>
	
	<select id="menuUpdateForm" parameterType="Integer" resultType="menu">
		select * from menu where seqMenu=#{seqMenu}
	</select>
	
	<select id="orderAlert" resultType="order">
		<![CDATA[select * from orderInform where orderCode = 2 and rownum<=1]]>
	</select>
	
	<update id="menuUpdate" parameterType="menu">
		update menu set menuName=#{menuName}, menuContent=#{menuContent}, menuPrice=#{menuPrice} where seqMenu=#{seqMenu}
	</update>
	
	<select id="orderLoad" resultType="order">
		select * from orderInform where orderCode = 2 or orderCode = 3 or orderCode = 5 order by orderCode, seqOrder
	</select>
	
	<update id="orderConfirm" parameterType="Integer">
		update orderInform set orderCode=3 where seqOrder=#{seqOrder}
	</update>
	
	<update id="orderComplete" parameterType="Integer">
		update orderInform set orderCode=5 where seqOrder=#{seqOrder}
	</update>
	
	<update id="orderReject" parameterType="Integer">
		update orderInform set orderCode=4 where seqOrder=#{seqOrder}
	</update>
	
	<select id="orderSales1" resultType="order">
		select menuName, orderDate from orderInform
	</select><!-- 시간대별 -->
	
	<select id="orderSales2" resultType="order">
		select * from orderInform
	</select><!-- 일별 -->
	
	<select id="orderSales3" resultType="order">
		select seqOrder from orderInform
	</select><!-- 월별 -->
	
</mapper>